* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body {
    background: #000;
}
.cob-J {
    color: #E50914;
}
.wong-J {
    color: #8FC1E3;
}
.top {
    margin-bottom: 6.5rem;
}
header {
    background: #000;
    color: white;
}
.container-top {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
.container-top h2 {
    color: #ffffff;
    margin-right: 5rem;
}
.nav-menu ul  {
    margin-left: 10rem;
    display: flex;
    list-style-type: none;
    text-decoration: none;

}
.nav-menu ul li {
    padding: 8px 12px;
    margin: 0 1rem;
}
.nav-menu li:hover {
    background: #E50914 ;
    border-radius: 10px;
    color: #000;
}
.img-container {
    display: flex;
    justify-content: center;
    color: #E50914 ;
    border: 2px solid white;
}
.img-container p {
    position: relative;
    top: 100px;
}
.img-container img {
    height: 608px;
    width: 400px;
    border-radius: 50%;
    margin: 0 3rem;
    
}
.josh {
    transform: scaleX(-1);
    float: right;
}

.content-text-jacob {

    position: absolute;
    top: 35%;
    left: 10%;
    
}

.hello-jacob {
    font-size: 14px;
    font-weight: 600;   
    letter-spacing: 3px;
    color: #E50914 ;
    margin-bottom: 1.5rem;
}
.text-jacob {
    line-height: 1.2;
    font-weight: 800;
    color: rgb(227, 222, 222);
    font-size: 30px;
}
.text-jacob h1 span {
    color: #E50914 ;
}
.text-jacob h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.animated-text-jacob {
    font-size: 30px;
    margin-bottom: 2rem;
    color: rgb(227, 222, 222);
}
.animated-text-jacob span {
    position: relative;

}
.animated-text-jacob span::before {
    content: "Gamer";
    color: #E50914 ;
    animation: words 20s infinite;
}
.animated-text-jacob span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background: black;
    border-left: 2px solid #E50914 ;
    right: -8px;
    animation: cursor .8s infinite , typing 20s steps(14) infinite;

}
@keyframes cursor {
    to {
        border-left: 2px solid #E50914 ;
    }
}

@keyframes words {
    0%,25%{
        content: "Gamer";
    }
    21%,40%{
        content: "Handsome";
    }
    41%,60%{
        content: "Genius";
    }
    61%,80%{
        content: "Energetic";
    }
    81%,100%{
        content: "Cheerful";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}
.hire-me-jacob , .works-jacob{  
    background: #E50914 ;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px 24px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.works-jacob {
    background: transparent;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px 24px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #E50914 ;
    margin-right: 1rem;
}
.hire-me-jacob {
    margin-right: 1rem;
    color: #000;
}
.works-jacob:hover {
    background: #E50914 ;
    border: 1px solid #E50914 ;
    color: rgb(255, 255, 255);
}
.jacob {
    position: absolute;
    left: 27%;  
    height: 500px;
    top: 10%;
    border-radius: 500px;
    margin-top: 35px;
}


.content-text-wong {

    position: absolute;
    top: 35%;
    left: 72%;
    
}
.hello-wong {
    font-size: 14px;
    font-weight: 600;   
    letter-spacing: 3px;
    color: #8FC1E3;
    margin-bottom: 1.5rem;
}
.joshua {
    position: absolute;
    height: 500px;
    left: 50%;
    top: 14%;
    border-radius: 500px;
    transform: scaleX(-1);
    width: 350px;
}
.text-wong {
    line-height: 1.2;
    font-weight: 800;
    color: rgb(227, 222, 222);
    font-size: 30px;
}
.text-wong h1 span {
    color: #8FC1E3;
}
.text-wong h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.animated-text-wong {
    font-size: 30px;
    margin-bottom: 2rem;
    color: rgb(227, 222, 222);
}
.animated-text-wong span {
    position: relative;

}
.animated-text-wong span::before {
    content: "Gamer";
    color: #8FC1E3;
    animation: wordss 20s infinite;
}
.animated-text-wong span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background: black;
    border-left: 2px solid #8FC1E3;
    right: -8px;
    animation: haha .8s infinite , typing 20s steps(14) infinite;

}
@keyframes haha {
    to {
        border-left: 2px solid #8FC1E3;
    }
}

@keyframes wordss {
    0%,20%{
        content: "Leader";
    }
    21%,40%{
        content: "Confident";
    }
    41%,60%{
        content: "Reliable";
    }
    61%,80%{
        content: "Enthusiasm";
    }
    81%,100%{
        content: "Attentive";
    }
}
@keyframes typing {
    10%,15%,30%,35%,50%,70%,75%,90%,95% {
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}
.hire-me-wong , .works-wong{
    background: #8FC1E3;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px 24px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    
}
.works-wong {
    background: transparent;
    border-radius: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 16px 24px;
    list-style-type: none;
    text-decoration: none;
    color: rgb(227, 222, 222);
    border: 1px solid white;
    margin-right: 1rem;
}
.hire-me-wong {
    margin-right: 1rem;
}
.works-wong:hover {
    background: #8FC1E3;
    border: 1px solid #8FC1E3;
    color: white;
}




.about-jacob {
    height: 100vh;
    margin: 0 10%;
}
.about-jacob .cob{
    margin-top: 2rem;
    position: absolute;
    top: 86%;
    left: 55%;
    height: 510px;
}

.box {
    color: white;
    
    position: absolute;
    top: 132%;
    left: 43%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 600px;
    padding: 10px;

}
.box p{
    color: white;
    font-size:20px;
    margin: 1rem 0;
}
.box p span {
    color: #E50914;
} 
.box a {
    text-decoration: none;
    list-style-type: none;
    color: #E50914;
    
}
.box a:visited {
    text-decoration: none;
    list-style-type: none;
    color: #E50914;
}
.box .about-text {
   font-size: 40px;
    
}

.about-wong img {
    position: absolute;
    left: 18%;
    top: 177%;
    
}
.box-wong {
    color: white;
    height: 400px;
    width: 600px;
    padding: 10px;
    position: absolute;
    left: 55%;
    top: 185%;
    
}
.container {
    margin-bottom: 500px;
}
.box-wong p{
    color: white;
    font-size:20px;
    margin: 1rem 0;
}
.box-wong p span {
    color: #8FC1E3;
} 
.box-wong a {
    text-decoration: none;
    list-style-type: none;
    color: #8FC1E3;
    
}
.box-wong a:visited {
    text-decoration: none;
    list-style-type: none;
    color: #8FC1E3;
}
.box-wong .about-text-wong {
   font-size: 40px;
}
.cob {
    margin-top: 0;
}
footer {
    height: 570px;
}